FORMAT: 1A
HOST: https://api.ask-fast.com

# Ask Fast
<br>
### This document is a work in progress
<br>

#### Api end point: https://api.ask-fast.com

Ask Fast offers an API framework that can create dialogs for various media types e.g. SMS, xmpp, email, twitter, voice and ussd. 
This enables developers to easily start a two way communication dialog with their customers without having to write a separate code for every communication channel.
With two way communication we really mean two way; it also allows your customers to start a dialog with you, not just the other way around.

The API uses web standard formats like JSON and REST standards to make developing as easy as possible. 

The API is split up into two parts: 1. Ask Fast API 2. the market place API which can be found [here](http://docs.askfastmarketplace.apiary.io/)

The first part is the Ask Fast API, this allows you (the developer) to host your own questions and answers. This requires your own server and server sided code. This allows a lot of customization.

The second part is the Ask Fast Marketplace. Here we do everything for you so you don't have to worry about the server side. You can focus on what you do best: creating great apps. Make your choice and get started!

## Libraries

Library support is currently restricted to Java and PHP, so if you have built your own library please let us know at: support@ask-fast.com . You can download the libraries from here, the manuals are in this document:

- [Java library](https://github.com/askfast/askfast-api-java)
- [PHP library] (https://github.com/askfast/askfast-api-php)

###### Work in progress

- [NodeJs](https://github.com/askfast/askfast-api-node)

API documentation for each library can be found on the github and below

## Authentication

For authentication, the Ask Fast API uses a unique token. This token can be required with an oAuth request as described in the login section. To make sure the connection is saved, all calls have to be via HTTPS connections. Regular HTTP will fail.

## Error handling

Ask Fast API uses regular HTTP response codes to indicate success or failure of the API request. A 200 response indicates a succesfull request. The 4xx response often means an error from the user side, this could be an invalid or not authorised request(401).

Overview of HTTP response codes:

- 200 → Everything went smoothly,
- 400 → Bad request maybe a parameter is missing?
- 401 → Not authorised, the authorisation failed.
- 404 → Request not found.
- 5xx → Internal server error, we try to make the error logs easy for you to read.


## Dates

All dates are standard UNIX (epoch) coded. This represents the seconds passed since 01-01-1970. Some examples:

- 1396350000 - 12:00:00 01-01-2014
- 946728000   - 12:00:00 01-01-2000


## Pagination

At the moment the pagination limitations is a 1000 responses per call. If you wish to go back even further you can change the date attribute to fetch the results for a certain period.  

## Rate limiting
The Ask Fast API uses a fair use policy: If you don't abuse the system you don't have a rate limit.

## Language codes

If you want to make a call and use Text To Speech (TTS) you can use the following language codes:

|codes|langue|
|----|---|
|ca-es|Catalan|
|zh-cn|Chinese (China)|
|zh-hk|Chinese (Hong Kong)|
|zh-tw|Chinese (Taiwan)|
|da-dk|Danish|
|nl-nl|Dutch|
|en-au|English (Australia)|
|en-ca|English (Canada)|
|en-gb|English (Great Britain)|
|en-in|English (India)|
|en-us|English (United States)|
|fi-fi|Finnish|
|fr-ca|French (Canada)|
|fr-fr|French (France)|
|de-de|German|
|it-it|Italian|
|ja-jp|Japanese|
|ko-kr|Korean|
|nb-no|Norwegian
|pl-pl|Polish|
|pt-br|Portuguese (Brazil)|
|pt-pt|Portuguese (Portugal)|
|ru-ru|Russian|
|es-mx|Spanish (Mexico)|
|es-es|Spanish (Spain)|
|sv-se|Swedish (Sweden)|



#group Account

You can use the Ask Fast API to directly talk to our servers to send messages. Questions have to be hosted on your own server. This can be an easy mysql database or any other form of your liking.
If you don't want to host this yourself you can use our Marketplace.

## Login [/keyserver/token]

### Login to Ask Fast [POST]

#### */keyserver/token*

Ask Fast API does not use a login, the servers expect an authorization token for every request. 
This token can be fetched with this request.

Set these fields manualy when trying the example on the right:


#### header fields

|field|value|
|----|----|
|`Content-Type`|`application/x-www-form-urlencoded`|


#### x-www-form-urlencoded fields

|field|value|description|
|----|----|----|
|`client_id`|your client id| can be found in the developer page [click here](https://portal.ask-fast.com) |
|`grant_type`|resfresh_token|always refresh token|
|`refresh_token`|your client id|can be found at the developer page [click here](https://portal.ask-fast.com)|
|`client_secret`|none|always none|

+ header 

        Content-Type:application/x-www-form-urlencoded

+ request (application/x-www-form-urlencoded)

        client_id=xxxxxxxxxxxxxxxxxxxxxxx&grant_type=refresh_token&refresh_token=xxxxxxxxxxxxxxxxxxxxxxxxxx&client_secret=none
            

+ response 200 (application/json)
    
        {
            "expires_in": 3600,
            "refresh_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "access_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        }

+ response 400 (application/json)

        {
            "error":"xxxxxxx",
            "error_description":"xxxxxxxxxxxxxx"
        }

## Acount info [/info]
### Get acount info [GET]

#### */info*

## header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|

+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request
        
        

+ response 200 (aplication/json)

        {
            id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            userName: "test_user"
            password: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            name: "test user"
            phoneNumber: null
            email: null
            creationTime: 1398852668448
            status: "ACTIVE"
        }

## Get Keys [/key]
### Get key [GET]

#### */key*

## header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|

+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request
        
          

+ response 200 (aplication/json)

        {
            accountId: xxxxxxxxxxxxxxxxxxxxxxxx
            refreshToken: xxxxxxxxxxxxxxxxxxxxxxxx
        }


# group Adapter

An adapter is used to tell the system which channel to use for communication. The general layout of an adapter is:
        
        {
            configId: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            adapterType: "ussd",
            address: "",
            myAddress: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            keyword: null,
            initialAgentURL: "",
            anonymous: false,
            preferred_language: "nl",
            dialogId: null
        }

|field|value|
|----|----|
|`ConfigId`|the Id of the adapter, when sending a message this is the `adapterID` field|
|`adapterType`|Type of the adapter push,ussd,sms,emai,broadsoft,twitter,xmpp |
|`myAdress`|the incoming address linked with the adapter|



## Adapters [/adapter]

The Ask Fast system uses adapters to link addresses (email, sms, etc) to accounts. So before you can send a question through a certain medium you need an adapter for that medium. These adapters can be created in the [developer center](http://portal.ask-fast.com).

### Get Ask Fast adapters [GET]

#### */adapter*

To send a message you need to specify the adapter, this messages retrieves all the adapters.

## header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|

+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request 

        

+ response 200 (aplivations/json)

        {
            configId: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            dialogId: null,
            initialAgentURL: "",
            publicKey: "",
            adapterType: "ussd",
            preferred_language: "nl",
            address: "",
            myAddress: "",
            keyword: null,
            status: "",
            xsiURL: "",
            xsiUser: "",
            xsiPasswd: "",
            xsiSubscription: "xxxxxxxxxx",
            accessToken: "xxxxxxxxx",
            accessTokenSecret: "xxxxxxxxxxx",
            anonymous: false,
            owner: null,
            accounts: [
                "xxxxxxxxxxxxxxxxxxxx"
            ],
            properties: {
                ADAPTER_CREATION_TIME: 1400167116197
            }
        }



### Update inbound agent url [PUT]

#### */adapter*

#### header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|

#### post body
```json
        {
            initialAgentURL:<initial agent URL for inbound scenarios>
            anonymous:false
        }
```

+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request 

        

+ response 200

        {
            configId: "<uniqueadapterid>",
            adapterType: "<adapterType>",
            address: "<adapterAddress>",
            keyword: null,
            initialAgentURL: <initialagentURLifany,forinboundscenarios>,
            anonymous: false
        }

#group Dialog senario

A Dialog-Scenario consists of questions and answers hosted on a specific question url. These question URLs must be accessible to the ASK-Fast Server. As response, these questions can be sent as static string. 
In order to facilitate ease of development, we have implemented an open-source library to prepare questions, see *java library* and *PHP library*. 
Use of this library makes sure the developer does not have to know how the question should be formatted and also keeps it flexible to any changes in the question format in the future. 

#### The outbound dialog flow is as follows:

    1. set up a dialog format and a callback url

    2. initiate the dialog see `initiate dialog`

    3. Send the first message see `start a dialog`
    
    3. user responds
    
    4. Answer is fetched
    
    5. process the answer
    
    6. respond with the next question form `callback` url
    
    7. start again from point 3


#### The inbound dialog flow:
    
    1. set up a dialog format and a callback url
    
    2. initiate the dialog see `initiate dialog`
    
    3. user call/sms/email the adress of the adapter
    
    4. Answer is fetched
    
    5. process the answer
    
    6. respond with the next question form `callback` url
    
    7. next question is asked
    
    8. user answers
    
    9. starts from point 5


#### The general format of a Question JSON looks like:

```json

            {
                "question_id":<some_id>,
                "question_text":"<text or url>",
                "type":"[ open | closed | comment | referral ]",
                "url":"<referral url>",
                "answers":[
                    { 
                        "answer_id":<some_id>,
                        "answer_text":"<text or url>",
                        "callback":"<url>"
                    }
                ],
                "event_callbacks":[
                    {
                        "event":"[answered|timeout|hangup|exception]",
                        "callback":"<url>"
                    }
                ],
                "media_properties": [
                    {
                        "medium": "[BROADSOFT | GTALK | SMS]",
                        "properties": 
                        {
                           "<MediumPropertyKey>": "<PropertyValue>"
                        }
                }
                ]
            }
           
```



#### parameter specification:

| name          | type      | description  |
| ------------- |:---------:| -----|
| `question_id`    | string    | can be any chosen id|
|`type`|string|open anwser can be anything; closed e.g YES or NO; comment ; refferal;|
|`url`|string|url of the type|
|`answer_id`|string| some chosen id|
|`callback`|string| this url will be called when a person answers, here the next question will be called|
|`medium`|string| medium type used to send the question|

#### optional propperties defined in the MediumPropertyKey key


|field                      |value|
|----                       |----|
|`TIMEOUT`                  |(Specific to a phone call) Defines the timeout associated with the call. Default value of “10s” is used for a no answer input on a closed question. “40s” is used for a call timeout for a redirection (referral question). “5s” is used for a no answer input on an open question.|
|`ANSWER_INPUT`             |(EXPERIMENTAL!! Not specific to any channel) Defines if the answer is given via dtmf, text etc. Default value depends on the channel used. For a phonecall “dtmf” is used as standard and “text” is used for other text based channels such as SMS, EMAIL etc.|
|`ANSWER_INPUT_MIN_LENGTH`  |(Specific to Phonecall) Defines the length of the answer input. Typically used with dtmf input.|
|`ANSWER_INPUT_MAX_LENGTH`  |(Specific to Phonecall) Defines the length of the answer input. Typically used with dtmf input.|
|`TYPE`                     |Defines a subtype for the question type. E.g. open question with type: audio refers to voicemail. By default a minimum value of “1” and unbounded maximum value is taken.|
|`VOICE_MESSAGE_LENGTH`     |(Specific to phonecall) Defines the length of the voicemail to be recorded. By default “15s” is used to as the length of the voice message.|
|`RETRY_LIMIT`              |(Currently specific to phonecall) Defines the number of times the question should repeat in case of a wrong answer input. Works only for phonecalls so as to end a call with repeated input errors. Default value of “5” is used.|
|`VOICE_MESSAGE_BEEP`       |(Specific to phonecall) Boolean flag to indicate if a voice message start should be indicated by a beep or not. Default value is “true”.|
|`DTMF_TERMINATE`           |(Specific to phonecall) Boolean flag to indicate if the call should terminate when a dtmf is pressed. Default value is “true”.|
|`TSS_SPEED`                |(Specific to phonecall) Defines the speed at which the TTS is spoken by the TTS engine. Default value: “0”. Range: [-10, 10] where -10 is the slowest and 10|


## Initiate dialog [/dialog]

### Initiate dialog [POST]

#### */dialog*

#### header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|



#### post body

        {
            "name":"My First Dialog", 
            "url" : "http://test.me" 
        }
        

#### body fields

|field|value| description |
|----|----| --- |
|`name`|`your name`| you can make up your own name for the dialog |
|`url`|`your url`| this is the url of your first question |

#### response body:

        {
            id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            name: "My First Dialog"
            url: http://test.me
            owner: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            readableCreationTime: "6/13/14 9:41 AM"
        }


+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request 

        {
            "name":"My First Dialog", 
            "url" : "http://test.me" 
        }

+ response 200

        {
            id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            name: "My First Dialog"
            url: http://test.me
            owner: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            readableCreationTime: "6/13/14 9:41 AM"
        }

## Start a dialog [/dialoghandler/rpc]

To start a dialog that you have initialized with the previous call you can use this method. 

### Send message [POST]

#### */dialoghandler/rpc*

#### header fields

|field|value|
|----|----|
|`Content-Type`|`application/json`|

##### body content:

        {
            "method": "outboundCallWithMap",
            "params": {
                "adapterID": "<adapterId>",
                "addressMap": {
                    "<address1>": "Alice"
                },
                "url": "<URL to fetch the Question from>",
                "accountID": "<accountID>",
                "senderName": "<sender Name>",
                "subject": "<Subject>",
                "bearerToken": "<bearer token generated from /keyserver/token call>"
            }
        }




+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request

        {
            "method": "outboundCallWithMap",
            "params": {
                "adapterID": "<adapterId>",
                "addressMap": {
                    "<address1>": "Alice"
                },
                "url": "<URL to fetch the Question from>",
                "accountID": "<accountID>",
                "senderName": "<sender Name>",
                "subject": "<Subject>"
            }
        }


+ response 200 

        {
                jsonrpc: "2.0"
                id: "xxxxxxxxxxxxx"
            - result: {
                    xxxxxx: "push|xxxxxxxx|xxxxxxxxxx"
                }
        }
        
### test inbound message [POST]

#### */dialoghandler/rpc*

#### header fields

|field|value|
|----|----|
|`Authorization`|`Bearer xxxxxxxxxxxxxxxxxxxx`|
|`Content-Type`|`application/json`|

#### body

        {
            "id": 1,
            "method": "changeAgent",
            "params": {
                "accountID": "<accountID>",
                "adapterID": "<adapterID>",
                "url": "http://myagenturl.com"
            }
        }



+ headers
  
        Content-Type: application/json
        Authorization: Bearer xxxxxxxxxxxxxxxxxxxx

+ request

        {
            "id": 1,
            "method": "changeAgent",
            "params": {
                "accountID": "<accountID>",
                "adapterID": "<adapterID>",
                "url": "http://myagenturl.com"
            }
        }


+ response 200 

        




# group Java library

[Java library](https://github.com/askfast/askfast-api-java)

This is a library to make it easy to build and send dialog senario's.
Here is a short description of basic fuctions. An example can be found in the GitHub.

##### These are the methods used in general to create a dialog of questions and answers. 
- `ask(“Question text”, nextURL)`

    QuestionType: OPEN

    Method used to ask a question. By default this function creates an OPEN question i.e open to user input. 

- `askByVoice(“Question text”, nextURL)`

    QuestionType: OPENAUDIO
    Method used to ask an open audio question. 
    
- `redirect(“to”, “redirectText”, “next”)`

    QuestionType: REFERRAL
    Method used to ask an open audio question. 

- `addAnswer(“Answer text”, “nextURL”)`

    QuestionType: CLOSED
    
    Sets question type as CLOSED and then adds an answer to an existing question. 
    
    say(“Response text”)
    
    QuestionType: COMMENT
    
    Sets the question type as COMMENT, method used to respond to a particular answer from the user.
    
    say(“Response text”, “nextURL”)
    
    QuestionType: COMMENT
    Method used to respond to a particular answer from the user. The nextURL is added as an answer to the question.

#### Initiating outbound communication requests:

Any outbound communication request works on the basis of oAuth 2.0 standard. For this to work, the following conditions must be met:

1. The instance variable of AskFast must be created with accountID and refreshToken. e.g: AskFast askfast = new AskFast(<url>, <accountID>, <refreshToken>, <params>);
2. Call the obtainAccessToken() method. This method will obtain the AccessToken from our keyserver.
    
- `outBoundCall( “fromAddress”, “toAddress”, “url” )`

    Initiates an outbound call (e.g. SMS, Phone call, XMPP message) based on the adapter keys provided while constructing the AskFast instance:
    
    AskFast(String url, String accountID, String refreshToken)
 
- `outBoundCall( “fromAddress”, “senderName”, “toAddress”, “url” )` 

    Performs a similar outbound call like #7, but for all text based outBoundCalls (e.g. Email, SMS, XMPP etc) will identify the sender by the senderName. 

- `outBoundCall( “fromAddress”, “senderName”, Collection<“toAddress”>, “url” )` 
    
    This initiates a broadcast call to all the addresses in the Collection.
    
- `outBoundCall( “fromAddress”, “senderName”, Collection<“toAddress”>, “url” )` 

    This initiates a broadcast call to all the addresses in the Collection.
    
- `outBoundCall( “fromAddress”, “senderName”, Map<“toAddress”, fMap<“ccAddress”, “ccName”>, Map<“bccAddress”, “bccName”>, “url” )` 

    This is usually used exclusively for email broadcast. Special parameters for ccAddress and bccAddress allows corresponding functionalities. 
    
- `render()` or `finish()`

    Method used to return the question thus formed in a JSON format.

#### To ease outBoundCall requests, use the outBoundCall() method in the ASK-Fast API.

- `outBoundCall( “adapterID”, “address”, “url” ) throws Exception`

    Initiates an outbound call (e.g. SMS, Phone call, XMPP message) based on the adapter keys provided while constructing the AskFast instance:
    `AskFast(String baseHostURL, String accountID, String refreshToken)`


#group Support

For support you can check [Stackoverflow](http://stackoverflow.com/questions/tagged/ask-fast) with the tag ["ask-fast"](http://stackoverflow.com/questions/tagged/ask-fast) or the tag ["ask-fast-marketplace"]( http://stackoverflow.com/questions/tagged/ask-fast-marketplace)
If it is not there you can post questions with these tags.

If you realy want to speak to us please email us at: support@ask-fast.com

# group Developer portal

#### click <a href="http://dev.ask-fast.com" target="_blank"> here </a> to go to the developer portal


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51883335-2', 'apiary.io');
  ga('send', 'pageview');

</script>
